/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */

* {

    font-family: 'Work Sans', sans-serif;
}

.text-light-grey{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
    border: 0;


}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;


}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}



.banner img {
    margin-top: 20px;
    width: 100%;

}



/* main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */

.teams-container {
    display: flex;
    align-items: center;

}

.Teams-img-conatiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;

}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.team-title {
    font-size: 2.5rem;

}

.team-title .q-list {
    color: #727272;
    font-size: 2.2rem;
    font-weight: 500;

}
.team-title .text-features{
    color: #FF900E;
    font-weight: 700;

}




/* responsive media queries */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container
    {
        flex-direction: column;
    }

    .Teams-img-conatiner{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* for tablet and medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container
     {
        flex-direction: column;
    }
}
